Package: indicator-china-weather
Version: 3.1.0-38
Architecture: amd64
Maintainer: lixiang <lixiang@kylinos.cn>
Installed-Size: 1840
Depends: dconf-gsettings-backend | gsettings-backend, libc6 (>= 2.14), libgcc-s1 (>= 3.0), libgsettings-qt1 (>= 0.1+14.04.20140408), libqt5core5a (>= 5.12.2), libqt5dbus5 (>= 5.0.2), libqt5gui5 (>= 5.7.0) | libqt5gui5-gles (>= 5.7.0), libqt5network5 (>= 5.0.2), libqt5widgets5 (>= 5.11.0~rc1), libqt5x11extras5 (>= 5.6.0), libstdc++6 (>= 5), libx11-6
Section: utils
Priority: optional
Homepage: https://github.com/ubuntukylin/indicator-china-weather
Description: Indicator that displays China weather information
 Kylin Weather displays detail weather information for one place,
 including weather forecast and observe weather, and you can
 change it.
